<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='style.css'>
</head>
<nav class="bg-w-foreground">
    <div class="flex flex-wrap items-center justify-between mx-auto px-12">
      <a href="/" class="flex items-center">
        <img src='#' class='h-20 hidden md:block mr-3' alt='Logo'>
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-500"><%= title %></span>
      </a>
      <button id="dropdown" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div class="hidden w-full md:block md:w-auto text-2xl" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0">
            <li><a class='block py-2 pl-3 pr-4 rounded text-gray-500 hover:text-white md:p-0' href='#'>link1</a></li>
            <li><a class='block py-2 pl-3 pr-4 rounded text-gray-500 hover:text-white md:p-0' href='#'>link2</a></li>
        </ul>
      </div>
    </div>
</nav>
<body class="bg-w-background">
